version: '3.8'
services:

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - db_data:/data/db
      - ./dashboard-backend/data/db:/data/initdb:ro
      - ./dashboard-backend/data/mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh
    



  frontend:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./frontend/build:/usr/share/nginx/html:ro
    depends_on:
      - device_integration
      - dashboard-backend

  device_integration:
    image: node:17-alpine
    volumes:
      - ./device-integration:/app
    working_dir: /app
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    depends_on:
      - mongodb

  dashboard-backend:
    image: node:17-alpine
    volumes:
      - ./dashboard-backend:/app
    working_dir: /app
    command: sh -c "npm install && npm start"
    ports:
      - "3010:3010"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/dashboard
    depends_on:
     - mongodb

  

volumes:
  db_data:
